<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>About</h2>
            <p class="lead">
                This application was developed by <a href="http://capricasoftware.co.uk">Caprica Software Limited</a>.
            </p>
            <hr>
            <h3>Contact</h3>
            <p>
                For questions or comments please see the <a href="https://github.com/caprica/bootlace">Github project page</a>,
                alternatively email below:
            </p>
            <pre>mark &lt;dot&gt; lee &lt;at&gt; capricasoftware &lt;dot&gt; co &lt;dot&gt; uk</pre>
        </div>
    </div>
</div>
