// Stylesheet for maps integration.

// By default there is no height on the map container
.angular-google-map-container
    height 400px

// Map search box, styles similar to Google Maps itself
input.map-search-box {
    font-size 15px
    line-height 20px
    font-weight 300
    width 300px
    margin 0 !important
    padding 0 6px !important
    height auto !important
    top 6px !important
}
