
.view-fade-in.ng-enter
    transition all 1s ease
    opacity 0

.view-fade-in.ng-enter
    opacity 0

.view-fade-in.ng-enter.ng-enter-active
    opacity 1

.view-fade-in.ng-leave.ng-leave-active
    opacity 1

.view-fade-in.ng-leave
    opacity 0
