<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Bootlace</h1>
            <p class="lead">
                A complete AngularJS, Spring MVC and Spring Security single-page reference web
                application.
            </p>
            <hr>
            <p>
                Hallo Chum!
            <p>
                I want to show you how to integrate technologies and tools used together in a
                modern web development stack:
            </p>
            <ul>
                <li>AngularJS</li>
                <li>Spring Boot</li>
                <li>Spring MVC</li>
                <li>Spring Security</li>
                <li>Browserify</li>
                <li>Stylus</li>
                <li>Single Page Application</li>
                <li>Restangular</li>
                <li>Bootstrap</li>
                <li>Bootswatch</li>
                <li>Spring Data</li>
                <li>MongoDB</li>
                <li>npm</li>
                <li>Maven</li>
                <li>Eclipse</li>
                <li>Toastr</li>
            </ul>
        </div>
    </div>
</div>
